$color-orange: rgba(228, 163, 36, 1) as o;
$color-purple: rgba(110, 15, 57, 1) as o;
$color-footer: rgba(68, 68, 68, 1) as o;
$color-pink-button: rgba(238, 63, 96, 1) as o;

body{
    background-color: whitesmoke;
}